{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form method="POST" action="{{ url_for('upload') }}" enctype = "multipart/form-data">
  
  {{ form.hidden_tag() }}

  {# Add the file upload field as you learnt for Flask-WTF #}
  <div class="form-group">

    {{ form.file_upload.label }}
    {{ form.file_upload }}

  </div>
  
  <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
</form>
{% endblock %}
